{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Студенти{% endblock meta_title %}

{% block title %}База Студентів{% endblock title %}

{% block content %}
<a type="button" class="btn btn-primary" href="{% url "students_add" %}">Додати Студента</a>

  <table class="table table-hover table table-striped">
    <thead>
      <tr>
        <th><a href="">#</a></th>
        <th>Фото</th>
        <th><a href="{% url "home" %}?order_by=first_name"> Ім'я {% if request.GET.order_by == first_name %}↑{% endif %}</a></th>
        <th><a href="#">Прізвище</a></th>
        <th><a href="#">№ Білету</a></th>
        <th>Дії</th>
      </tr>
    </thead>
    <tbody>
      <!--First Student-->
      {% for student in students %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>
          {% if student.photo %}
          <img height="30" width="30" class="img-circle" src="{{ student.photo.url }}" alt="Photo">
          {% else %}
          <img height="30" width="30" class="img-circle" src="{% static "img/39.jpg" %}" alt="Photo">
          {% endif %}
        </td>
        <td><a title="Редагувати" href="{% url "students_edit" student.id %}">{{ student.first_name }}</td>
        <td><a title="Редагувати" href="{% url "students_edit" student.id %}">{{ student.last_name }}</td>
        <td>{{ student.ticket }}</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Дія <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="/journal/1">Відвідування</a></li>
              <li><a href="{% url "students_edit" student.id %}">Редагувати</a></li>
              <li><a href="{% url "students_delete" 1 %}">Видалити</a></li>
            </ul>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
<!--End Students listing-->
    <!--Start Navigation-->
    <nav>
      <ul class="pagination">
        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        <li><a href="#">1 <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="#">2 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">4 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">5 <span class="sr-only">(current)</span></a></li>
        <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
      </ul>
    </nav>
    <!--End Navigation-->
{% endblock content %}
